* {
    box-sizing: border-box;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea9fa6;
    font-size: 40px;
    height: 100px;
    width: 350px;
    border-radius: 50px;
    position: fixed;
    bottom: 5px;
    left: 20px;
}

footer img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea9fa6;
    height: 1000px;
    transform: scale(0.08);
    border-radius: 400px;
    position: fixed;
    bottom: -420px;
    right: -420px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    color: #38a697;
}

.iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 200px;
    width: 200px;
}

.iconos img{
    height: 40px;
}

.logo {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 150px;
}

.selectores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectoresLista {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.fondo {
    color: black;
    height: 100vh;
    background-image: url(img/playa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    background-color: red;
}

.fondo button{
    background-color: #ea9fa6;
    color: white;
    height: 100px;
    width: 350px;
    font-size: 30px;
    padding: 30px;
    border: none;
    margin: 70px;
}

.fondo h2{
    font-style: normal;
    font-size: 50px;
    background-color: rgba(201, 201, 201, 0.678);
    margin-left: 30px;
}

.fondo p{
    font-size: 30px;
    background-color: rgba(201, 201, 201, 0.678);
    margin-left: 30px;
}